.pw {
    margin-left: 10px;
}

.btn {
    margin: 20px 37px -20px !important;
    position: inherit !important;
}

.userError {
    position: inherit;
    width: 50% !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}