table {
    width: 90% !important;
}

table .place {
    width: 40%;
}

.form-inline {
    margin-left: 5%;
}

.btn {
    display: inline-block;
    margin-bottom: 30px;
}

.alert {
    display: inline-block !important;
}

table .changed {
    animation: 4s bgcolorchange;
    -webkit-animation: 4s bgcolorchange;
}

@keyframes bgcolorchange {
    0% {
        background-color: transparent;
    }
    10% {
        background-color: lightgreen;
    }
    75% {
        background-color: lightgreen;
    }
    100% {
        background-color: transparent;
    }
}