table {
    width: 90% !important;
}

table .place {
    width: 40%;
}

.form-inline {
    margin-left: 5%;
}

.btn {
    display: inline-block;
    margin-bottom: 30px;
}

.alert {
    display: inline-block !important;
}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0;
    padding: 0;
    margin: 0;
}