table {
    width: 90%;
}

table .description {
    width: 40%;
}

.form-inline {
    margin-left: 5%;
}

.btn {
    display: inline-block;
    margin-bottom: 30px;
}

.alert {
    display: inline-block !important;
}