table {
    width: 80%;
}

th {
    width: 0 !important;
    cursor: auto;
}

table .lessonName {
    width: 15%;
}

table .examDate {
    width: 15%;
}

table .inputs {
    margin-left: 10%;
    margin-top: 20px;
}

table .topics {
    width: 70%;
}

table .notDeleted {
    animation: 4s bgcolorchange;
    -webkit-animation: 4s bgcolorchange;
}

@keyframes bgcolorchange {
    0% {
        background-color: #a94442;
    }
    75% {
        background-color: #a94442;
    }
    100% {
        background-color: transparent;
    }
}

table .changed {
    animation: 4s bgchanged;
    -webkit-animation: 4s bgchanged;
}

@keyframes bgchanged {
    0% {
        background-color: transparent;
    }
    10% {
        background-color: #00d200
    }
    75% {
        background-color: #00d200;
    }
    100% {
        background-color: transparent;
    }
}


.btn {
    display: inline-block;
    margin-bottom: 30px;
}

.alert {
    display: inline-block !important;
}

.nolink, .nolink:hover, .fa:link, .fa:visited, .fa:active {
    margin-top: 3px;
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 1000px){
    .large-only {
        width: 100%;
    }
}

.mask {
    position: fixed;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.4);
    top:0;
    left:0;
    display: none;
    z-index: 2;
}

.inyo {
    font-family: Arial, serif;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 35px 35px 35px;
    width: auto !important;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.inyo .input-group {
    margin-bottom: 10px !important;
}

.inyo .btn {
    position: relative;
    margin: 20px auto 0;
    display: block;
}

.inyo .fa-spin {
    width: auto !important;
    color: white;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}