table {
    width: 80%;
}

th {
    width: 0 !important;
    cursor: auto;
}

table .lessonName {
    width: 15%;
}

table .examDate {
    width: 15%;
}

table .inputs {
    margin-left: 10%;
    margin-top: 20px;
}

table .topics {
    width: 70%;
}

.btn {
    display: inline-block;
    margin-bottom: 30px;
}

.alert {
    display: inline-block !important;
}

@media screen and (max-width: 1000px){
    .large-only {
        width: 100%;
    }
}