textarea {
    resize: vertical;
    overflow: hidden;
}

.textarea {
    margin-top: 3px;
}

.form-inline {
    margin-left: 10%;
    margin-top: 1%;
}

.btn {
    position: relative;
    margin: 30px auto -20px;
    display: block;
}

.btn-group {
    margin-left: 65px;
}

.form-inline table {
    line-height: 35px;
}

.form-inline table tr td {
    width: 200px;
}

.alert strong {
    text-transform: uppercase !important;
}

.input-group {
    width: 250px;
}

.input-group input, .input-group select, .input-group textarea {
    width: 215px !important;
}


.mask {
    position: fixed;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.4);
    top:0;
    left:0;
    display: none;
    z-index: 2;
}

.edit_form {
    font-family: Arial, serif;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 35px 35px 35px;
    width: auto !important;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.edit_form .input-group {
    margin-bottom: 10px !important;
}

.edit_form .btn {
    position: relative;
    margin: 20px auto 0;
    display: block;
}

.edit_form .fa-spin {
    width: auto !important;
    color: white;
}

.edit_form .fa-check {
    width: auto !important;
    color: #2ecc71;
}

.edit_form .fa-times {
    width: auto;
    color: #FF7052;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}