textarea {
    resize: vertical;
    min-height: 35px;
    overflow: hidden;
    width: 100% !important;
    margin-top: 3px !important;
}

.form-inline {
    margin-left: 10%;
    margin-top: 1%;
}

.btn {
    position: relative;
    margin: 30px auto -20px;
    display: block;
}

.btn-group {
    margin-left: 65px;
}

.form-inline table {
    line-height: 35px;
}

.form-inline table tr td {
    width: 200px;
}

.alert strong {
    text-transform: uppercase !important;
}

.input-group {
    width: 250px;
}

.input-group input, .input-group select {
    width: 215px !important;
}