.helpdeskList tr:hover {
    background-color: #a1d2eb;
    cursor: pointer;
}

.helpdeskList th:hover {
    cursor: auto;
}

.helpdeskList table {
    width: 80%;
}

.helpdeskList table input {
    margin-top: 0 !important;
    margin-left: 0 !important;
    border: none;
    background: none;
}

.id {
    width: 1%;
}

.crID {
    width: 3%;
}

.creator {
    width: 7%;
}

.mail {
    width: 9%;
}

.reason {
    width: 2%;
}