#navigator {
    position: fixed;
    background: #003f55;
    width: 100%;
    z-index: 2;
}

#navigator ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
}

#navigator ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#navigator ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    transition: color .25s;
    -webkit-transition: color .25s;
}

#navigator ul li a:hover {
    color: lightskyblue;
}

#navigator ul li a:hover:before {
    width: 100%;
}

#navigator ul li a:after {
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background: white;
    opacity: .5;
}

#navigator ul li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: lightskyblue;
    transition: width .25s;
    -webkit-transition: width .25s;
}

#navigator ul .logout a:after {
    background: none;
}

#navigator ul li.active a {
    color: lightskyblue;
}

#navigator ul li.active a:before {
    width: 100%;
}

#navigator li.right {
    float: right;
}

#navigator li.user {
    float: right;
}

@media screen and (max-width: 1116px) {
    #navigator {
        position: relative;
    }

    #navigator ul li {
        float: none;
        display: block;
    }

    #navigator ul li a {
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid dodgerblue;
    }

    #navigator ul li a:after {
        display: none;
    }

    #navigator ul li a:before {
        display: none;
    }

    #navigator li.right {
        float: none;
    }

    #navigator li.logout {
        position: absolute;
        width: 100%;
        padding-top: 90px;
        background-color: #003f55;
    }
}

#navigator ul li.logout a:hover {
    color: red;
}

#navigator ul li.logout a:before {
    background: red;
    margin-left: 5px;
}