table {
    border-color: #fff;
    border-collapse: collapse;
    width: 100%;
    line-height: 1.5em;
    margin: 0 auto;
    overflow: auto;
}

td, th {
    font-family: Arial, serif;
    padding: 0.75em;
    text-align: left;
}

td {
    text-align: center;
    border: none;
}

th {
    width: 16.6%;
    text-align: center;
    background-color: #26697F;
    font-weight: bold;
    color: #fff;
}

table .fa {
    cursor: pointer;
    border: none;
    height: 20px;
    width: 0!important;
    position: inherit;
    background-color: transparent;
    background-size: 20px 20px;
    top: 50%;
    margin-left: -10px;
    margin-right: auto;
}

tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
}