.now {
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: black;
}

tr:hover {
    background-color: transparent;
}

td:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.nohover:hover {
    background: none;
}

table {
    background: none;
}