.now {
    background-color: #2ecc71 !important;
    color: black;
}

tr:hover {
    background-color: transparent;
}

td:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

table {
    background: none;
}

.timetable1 table {
    border-collapse: collapse;
    font-family: 'Open Sans', Helvetica;
    text-align: center;
}
.timetable1 table tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.1)
}
.timetable1 table tr:nth-child(2n+3) {
    background: transparent;
}
.timetable1 table th, .timetable1 table td {
    padding: 1em;
    width: 10em;
}

.timetable1 table th {
    color: #efefef;
}

.days, .time {
    background: #26697F;
    text-transform: uppercase;
}

.time {
    width: 2em !important;
    color: #efefef;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
    -moz-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 110%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: black;
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 110%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid black;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    bottom: 90%;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}
