tr:hover {
    background-color: #a1d2eb;
}

table .free_space {
    width: 1%;
}

table .ServerAdmin {
    background-color: red !important;
}

table .ClassAdmin {
    background-color: blue !important;
}

table .Moderator {
    background-color: darkgray !important;
}

table .id {
    width: auto;
}

table .me {
    background-color: #0adcff !important;
}

table input {
    border: none;
    background: none;
}

table .changed {
    animation: 4s bgcolorchange;
    -webkit-animation: 4s bgcolorchange;
}

@keyframes bgcolorchange {
    0% {
        background-color: #00d200;
    }
    75% {
        background-color: #00d200;
    }
    100% {
        background-color: #f5f5f5;
    }
}

.form-inline {
    margin-left: 1px !important;
}

.btn {
    display: inline-block;
    margin-bottom: 30px;
}

.alert {
    display: inline-block !important;
}