table {
    width: 100%;
}
table .free_space {
    width: 1%;
}

table .ServerAdmin {
    background-color: red !important;
}

table .ClassAdmin {
    background-color: blue !important;
}

table .Moderator {
    background-color: green !important;
}

table .id {
    width: auto;
}

table .me {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

table input {
    border: none;
    background: none;
}

table .changed {
    animation: 4s bgcolorchange;
    -webkit-animation: 4s bgcolorchange;
}

@keyframes bgcolorchange {
    0% {
        background-color: #00d200;
    }
    75% {
        background-color: #00d200;
    }
    100% {
        background-color: transparent;
    }
}

.form-inline {
    margin-left: 1px !important;
}

.btn {
    display: inline-block;
    margin-bottom: 30px;
}

.alert {
    display: inline-block !important;
}

.border {
    height: 30px;
    border-top: 2px solid #26697F !important;
}

.small-only .me {
    background-color: transparent !important;
}

.small-only .me:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.small-only tr:first-child .st-head-row {
    font-size: 0 !important;
}

.st-head-row {
    background-color: black;
    font-size: 3px;
}

.table_User, .table_Moderator {
    width: 80%;
}