tr:hover {
    background-color: #a1d2eb;
}

.free_space {
    width: 1%;
}

.ServerAdmin {
    background-color: red !important;
}

.ClassAdmin {
    background-color: blue !important;
}

.Moderator {
    background-color: darkgray !important;
}

.id {
    width: auto;
}

.me {
    background-color: #0adcff !important;
}

.edit {
    cursor: pointer;
    border: none;
    height: 20px;
    width: 20px;
    position: inherit;
    background: url("../img/ic_edit.png");
    background-size: 20px 20px;
    top: 50%;
    left: 50%;
}

input {
    border: none;
    background: none;
}

.changed {
    animation: 4s bgcolorchange;
    -webkit-animation: 4s bgcolorchange;
}

@keyframes bgcolorchange {
    0% {
        background-color: #00d200;
    }
    75% {
        background-color: #00d200;
    }
    100% {
        background-color: #f5f5f5;
    }
}

.inputs {
    margin-left: 0 !important;
}

.alert-box {
    margin-right: 0 !important;
}